{
  "tabWidth": 2,
  "arrowParens": "avoid",
  "trailingComma": "es5",
  "useTabs": false,
  "semi": true,
  "overrides": [
    {
      "files": ".swcrc",
      "options": { "parser": "json" }
    }
  ]
}
